{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'douban/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'douban/master.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'douban/123.css' %}" />
<div id="wrapper">
<div id="content">
<div class="grid-16-8 clearfix">
<form class="form-inline" role="form" action="" method="GET">
<div class="article">
	<div>
      <div class="panel-heading">
         <div class="form-group">
         <input type="search" name="keyword" class="form-control" placeholder="关键字搜索" value="{{ request.GET.keyword }}">
         评分高于<input type="number" name="rating" class="form-control" placeholder="" value="{{ request.GET.rating }}">
        评分人数多于<input type="number" name="ratingnumbers" class="form-control" placeholder="" value="{{ request.GET.ratingnumbers }}">
         </div>
         <button type="submit" class="btn btn-primary">Search</button>
      </div>
	</div>
	<div id="subject_list">
    <ul class="subject-list">
	{% for item in item_list %}
	<li class="subject-item">
		<div class="pic">
			<a class="nbg" href="{{item.url}}" target="blank"> <img class="" src="{{item.image}}" width="90">
			</a>
		</div>
		<div class="info">
			<h2 class="">
				<a href="{{item.url}}" title="{{item.name}}" target="blank">{{item.name}}</a>
			</h2>
			<div class="pub">{{item.info}}</div>
			<div class="star clearfix">
				{% if item.rating %}
				评分：{{item.rating}}
				{% endif %}
				<span class="pl">
				{% if item.rating_numbers %}
					({{item.rating_numbers}}人评价) 
				{% else %}
					(暂无评价)
				{% endif %}
				</span>
			</div>
		</div>
	</li>
	{% empty %}
	<li>没有图书信息</li>
    {% endfor %}
    </ul>
    </div>
    {% if item_list %}
    <div class="pagination">
	    <span class="step-links">
	        <span class="current">
	            第 {{ page_obj.number }} 页，总计 {{ page_obj.paginator.num_pages }}页
	        </span>
	
	        {% if page_obj.has_previous %}
	            <a href="?page={{ page_obj.previous_page_number }}&keyword={{request.GET.keyword}}&rating={{request.GET.rating}}&ratingnumbers={{request.GET.ratingnumbers}}">上一页</a>
	        {% endif %}
	        {% if page_obj.has_next %}
	            <a href="?page={{ page_obj.next_page_number }}&keyword={{request.GET.keyword}}&rating={{request.GET.rating}}&ratingnumbers={{request.GET.ratingnumbers}}">下一页</a>
	        {% endif %}
	    </span>
	</div>
	{% endif %}
</div>
</form>
</div>
</div>
</div>